@media screen and (max-width: 70em)
    body
        margin: auto
        width: 375px
        height: 100%
        padding: 7em 0m 5em

    main
        margin: auto
        gap: 4em

    .top, .review, .testimonial-cards
        flex-direction: column
        margin: auto

    .top
        gap: 3em
        text-align: center
        justify-content: center
        align-items: center

    .product-desc
        width: 375px
        p
            width: 325px
            margin: auto

    .review-cards
        width: 350px
    .review
        width: 350px
        text-align: center
        gap: 1em
        &:nth-of-type(2)
            margin: auto
        &:nth-of-type(3)
            margin: auto

        img
            &:last-of-type
                margin: 0

    .testimonial-cards
        gap: 1em

    .testimonial
        width: 340px
        &:nth-of-type(2)
            margin: 0
        &:nth-of-type(3)
            margin: 0