@media screen and (max-width: 70em)
    body
        margin: auto
        width: 375px
        height: 100%
        padding: 7em 0m 5em

    main
        margin: auto
        gap: 3em

    .top, .review, .testimonial-cards
        flex-direction: column
        margin: auto

    .top
        gap: 3em
        text-align: center
        justify-content: center
        align-items: center

    .product-desc
        width: 375px
        h1
            font-size: 2.5em
            padding: 0 1em .5em
        p
            width: 340px
            margin: auto

    .review-cards
        width: 350px

    .review
        width: 330px
        padding: 1em 2em
        text-align: center
        gap: 1em
        &:nth-of-type(2)
            margin: auto
        &:nth-of-type(3)
            margin: auto

        img
            &:last-of-type
                margin: 0

    .testimonial-cards
        gap: 1em

    .testimonial
        padding: 5em 2em 5em 2.8em
        height: 250px
        width: 330px
        &:nth-of-type(2)
            margin: 0
        &:nth-of-type(3)
            margin: 0

    .test-buyer
        gap: 1.5em